body {
    background: #461a42;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 25px;
    border-radius: 24px;
    width: 100%;
    max-width: 450px;
    text-align: center;
}

input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 12px;
    border: none;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background: #8854c0;
    color: white;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}

.admin-panel {
    margin-top: 20px;
    padding: 10px;
    border: 1px dashed #ccc;
    border-radius: 15px;
}

#rope-wrapper {
    background: #2d112b;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    margin: 20px 0;
    overflow: hidden;
}

#rope { font-size: 35px; transition: 0.5s; position: absolute; }

.quiz-box {
    background: white;
    color: #333;
    padding: 20px;
    border-radius: 20px;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    100% { transform: translateX(0); }
}
